
<p> Name: <%= @pirate[:name] %></p>
<p> Weight: <%= @pirate[:weight] %></p>
<p> Height: <%= @pirate[:height] %></p>


<p> Name: <%= @ship1[:name] %></p>
<p> Type: <%= @ship1[:type] %></p>
<p> Booty: <%= @ship1[:booty] %></p>


<p> Name: <%= @ship2[:name] %></p>
<p> Type: <%= @ship2[:type] %></p>
<p> Booty: <%= @ship2[:booty] %></p>